.fc-day-sat {
  color: red;
}
.fc-day-sun {
  color: red;
}

.fc-event-warning {
  background-color: yellow;
}
.fc-event-info {
  background-color: blue;
}
.fc-event-success {
  background-color: green;
}
.fc-event-danger {
  background-color: red;
}
