.fc-day-sat {
  color: #f64e60;
}
.fc-day-sun {
  color: #f64e60;
}

.fc-event-warning {
  background-color: #ffa800;
}
.fc-event-info {
  background-color: #8950fc;
}
.fc-event-success {
  background-color: #1bc5bd;
}
.fc-event-danger {
  background-color: #f64e60;
}
.fc-event-light {
  background-color: #7e8299;
}
